<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>

<script>
    let jwt = [[${jwt}]]
    localStorage.setItem("jwt",jwt.toString())
</script>
<body>
<div><p style="align-content: center; text-align: center; ">비디오 스트리밍</p></div>
<a href="api/v1/upload/uploadPage">업로드</a>
<a href="/oauth2/authorization/google">구글 로그인</a>

<p>동영상</p>
<div th:each="video : ${videoList}">
    <span>
        <img th:src="${video.thumbNailUrl}" width="30%">
        <a th:href="${'detail/'+ video.url}"  th:text="${video.title}"></a>
    </span>

</div>

</body>
</html>